tests/assets/* linguist-vendored
resources/site-packages/seasonvar/tests/assets/* linguist-vendored
.travis.yml export-ignore  
.gitignore export-ignore  
.gitattributes export-ignore  
requirements.txt export-ignore
Makefile export-ignore  
README.MD export-ignore  
/tests export-ignore  
/screenshots export-ignore
resources/site-packages/seasonvar/tests export-ignore
